<html>
<head>
    <style>
        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
          
          button {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          
          button:hover {
            background-color: #45a049;
          }
          
          div {
            margin-top: 150px;
            margin-left: auto;
            margin-right: auto;  
            width: 400px;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
          }
          label{
              font-size: 20px;
          }
        </style>
</head>
<body style="background-color: blanchedalmond;">
    <div>
    <label>Select Inventory ID to Delete:<br></label>
    <form action="/delete" method="GET">
        <select name = "id">
            <% for(var i = 0; i < items.length ; i++) {%>
            <option value="<%= items[i].inventoryId %>"><%= items[i].inventoryId %></option>
            <% } %>
        </select>
        <button type="submit">DELETE INVENTORY ITEM</button>
    </form>
    </div>
</body>
</html>